@import 'var';
body{
	background:$primary-color;
	font-family: $font-family;
	p{
		color:blue;
		font-size:72px;
	}
	h1{
		color:green;
		font-size: 2px;
	}
	h2{
		color:red;
	}
	h4{
		color:$blue;
	}
}